@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


h1 {
    font-family: "Noto Sans", sans-serif;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

:root{
    
    --cor1: #331a6e;
    --cor2: #14072d;

     }



header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    min-width: 150px;
    text-align: center;
    padding-top: 40px;
    height: 140px;
    color: #FFFFFF;
    font-family: "Madimi One", sans-serif;
    }

    picture.star {
       display: flex; 
       margin-top: -113px;
       margin-left: -50px;
       width: 180px;
       height: 180px;
       opacity: 0.5;      
    }

    picture.tittle {
        display: block;
	position: relative;
	width: 1350px;
	text-align: center;   
    }

    picture.flag {
        display: block;
	width: 1130px;
	margin-top: -177.5px;
	text-align: right;
    }

    .welcome {
       display: flex; 
       margin-top: -57.5px;
       margin-left: 1130px;  
    }

    .dashboard {
       display: flex;
       margin-top: -5px;
       margin-left: 1070px;      
    }

    picture.user {
        display: block;
	position: relative;
	width: 1250px;
	margin-top: -20px;
	text-align: right;
    }

    picture.busca {
        position: absolute;
        width: 130px;
        height: 130px;
        display: flex;
        margin-left: 970px;
    }

    header h1 {
        color: white;
        padding-bottom: 40px;
        font-size: 50px;
        font-family: "Madimi One", sans-serif;
    }

    div.txtp {
        position: absolute;
        padding: 0px;
        margin-top: 230px;
        margin-left: 40px;       
    }

    div.txtp h1 {
        font-size: 60px;;
        padding: 0px;
        margin-top: 0px;
    }

   type="text/css"
    #busca {
    margin:0 auto;
    padding:0;
    }
    #txtbusca {
    border:0px solid #222;
    background:#EEE;
    width:320px;
    height:43px;
    margin-right: 250px;
    margin-top: 50px;
   
    float:right; // posição do campo
    line-height:15px; // altura da linha
    }

    #btnBusca {
    background:var(--cor2);
    position: relative;
    border:0px solid #222;
    color:#FFF; 
    margin-left: 1020px;
    padding:5px;
    border:0 none;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    }
    body {
        background-color: rgba(0, 0, 0, 0.95);
    }

    body h1 {
        color: white;
        font-size: 32px;
        text-align: center ;
        font-family: "Madimi One", sans-serif;
    }

    .TopTagsPosition {
	display: inline-block;
	text-align: left;
    }

    .TopTags {
        color: white;
        font-size: 26px;
        text-align: center;
	position: relative;
	left: 90px;
	line-height: 0.25;
        font-family: "Madimi One", sans-serif;
    }

/* Abaixo tem o código pra criar botões, botei umas cores aleatórias pra teste. Mude como achar melhor. O Border-Radius é pra circular os botões. */

    .btn-link {
	text-decoration: none;
        border: 1px solid #5661F5;
        width: relative;
        text-align: center;
	padding: 10px;
	font-family: "Madimi One", sans-serif;
	font-size: 16px;
	background-color: #5661F5;
	color: #FFFFFF;
	display: block;
	position: relative;
	left: 90px;
	border-radius: 2.5px 12.5px 2.5px 12.5px;
    }

    .btn-link:hover {
        background-color: #FFFFFF;
	color: #5661F5;
	box-shadow: 2px 2px 2px #14072D;
    }