@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap')

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

:root{
    
    --cor1: #331a6e;
    --cor2: #14072d;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;    
}



header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    min-width: 150px;
    text-align: center;
    padding-top: 40px;
    }

    header h1 {
        color: white;
        padding-bottom: 40px;
        font-size: 50px;
        font-family: "Madimi One", sans-serif;
    }

    <style type="text/css">
    #busca {
    margin:0 auto;
    padding:0;
    }
    #txtbusca {
    border:0px solid #222;
    background:#EEE;
    width:260px;
    height:23px;
    margin:0 auto;
    padding:5px 0 5px 5px;
    float:left; // posição do campo
    line-height:36px; // altura da linha
    }
    #btnBusca {
    background:var(--cor2);
    position:relative;
    border:0px solid #222;
    color:#FFF; 
    margin:0 auto;
    padding:10px;
    border:0 none;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    }
    #btnBusca:hover {
    background:#99cccc; 
    }<style>