@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


h1 {
    font-family: "Noto Sans", sans-serif;
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

:root{
    
    --cor1: #331a6e;
    --cor2: #14072d;

     }



header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2));
    min-width: 150px;
    text-align: center;
    padding-top: 40px;
    height: 140px;
    }

    header h2.boas {        
        Display: flex;
        color: white;
        font-family: "Madimi One", sans-serif;
        margin-top: -30px;
        margin-left: 1000px;
        padding: 0px;        
    }

    picture.bandeira {
        display: flex;       
        height: 20%;
        width: 100%;
        margin-left: 950px;
        margin-top: -110px;
        margin-right: 0px;
        padding: 0px;
        border-radius: 10px 10px 0px 0px;        
        border: 2px;
    }

    picture.estrela {
       display: flex; 
       margin-top: -113px;
       margin-left: -100px;
       width: 180px;
       height: 180px;      
    }

    picture.disc {
        display: block;   
        
    }

    picture.idisc {
        display: flex;
        margin-left: 1100px;
        margin-top: -150px;
    }

    picture.busca {
        position: absolute;
        width: 130px;
        height: 130px;
        display: flex;
        margin-left: 955px;
    }

    header h1 {
        color: white;
        padding-bottom: 40px;
        font-size: 50px;
        font-family: "Madimi One", sans-serif;
    }

    div.txtp {
        position: absolute;
        padding: 0px;
        margin-top: 230px;
        margin-left: 40px;       
    }

    div.txtp h1 {
        font-size: 60px;
        padding: 0px;
        margin-top: 0px;
    }

   type="text/css"
    #busca {
    margin:0 auto;
    padding:0;
    }
    #txtbusca {
    border:0px solid #222;
    background:#EEE;
    width:320px;
    height:43px;
    margin-right: 250px;
    margin-top: 50px;
   
    float:right; // posição do campo
    line-height:15px; // altura da linha
    }

    #btnBusca {
    background:var(--cor2);
    position: relative;
    border:0px solid #222;
    color:#FFF; 
    margin-left: 1020px;
    padding:5px;
    border:0 none;
    font-size:11px;
    font-weight:bold;
    text-transform:uppercase;
    }
    body {
        background-color: rgba(0, 0, 0, 0.95);
    }

    body h1 {
        color: white;
        font-size: 50px;
        text-align: center ;
        font-family: "Madimi One", sans-serif;
    }
    